html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * This CSS code block resets the default styles of various HTML elements to ensure consistent rendering across different browsers.
 */

body {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 20vw 80vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

/* header */
.header {
  padding: 20px 10px 15px 30px;
  background-color: black;
  grid-column: 1/3;
}
.logoImg {
  height: 3.5rem;
}

/* sidebar */
.sidebar {
  background-color: black;
  color: white;
  grid-row: 2/3;
  padding: 10px 10px 10px 30px;
  display: flex;
  justify-content: space-between;
}

.sidebarTitle {
  padding: 5px;
  font-size: 1.5rem;
}

.addProjectIcon {
  height: 2.5rem;
  padding-left: 10px;
}
/* main-container */

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a78295;
}

.welcome-content {
  margin: 40px;
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
}
